In [1]:
import pandas as pd

***Задание 1***

Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:

если источник traffic_source равен yandex или google, то в source_type ставится organic <br />
для источников paid и email из России - ставим ad <br />
для источников paid и email не из России - ставим other <br />
все остальные варианты берем из traffic_source без изменений <br />

In [2]:
log = pd.read_csv('visit_log.csv', sep=';')
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex

In [3]:
log.loc[(log.traffic_source.isin(['yandex' ,'google'])), 'source_type'] = 'organic'

In [4]:
log.loc[(log.traffic_source.isin(['paid' ,'email']) & (log.region=='Russia')), 'source_type'] = 'ad'

In [5]:
log.loc[(log.traffic_source.isin(['paid' ,'email']) & (log.region!='Russia')), 'source_type'] = 'other'

In [6]:
log.source_type = log.source_type.fillna(log.traffic_source)

In [7]:
log.head(10)

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic
5,1549980742,8855508aad,https://host.ru/df646c3676cc259fa0,Russia,fc43898e47,yandex,organic
6,1549980742,b0f66adc83,https://host.ru/b8b58337d272ee7b15,Russia,13fc55e781,paid,ad
7,1549980754,837885c8f8,https://host.ru/108ce4b365afb7b88e,Russia,cb5082b6f6,direct,direct
8,1549980760,af5570f5a1,https://host.ru/3004a8273caeef2867,China,45664f7af2,direct,direct
9,1549980765,3e7077fd2f,https://host.ru/df646c3676cc259fa0,Russia,6f9de8c8b6,email,ad

***Задание 2***

В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:

Прочитайте содержимое файла с датафрейм
Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [8]:
url = pd.read_csv('URLs.txt')
url.head()

                                                 url
0                                            /world/
1                                           /latest/
2                                      /?updated=top
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...

In [9]:
url[url.url.str.contains(r'(?<=\/[0-9]{8}-).*', case=False, flags=0, na=None, regex=True)].tail(50)

                                                  url
43  /video/36082961-nikol-kidman-prishla-na-britan...
44  /incidents/36173928-v-ekaterinburge-migranty-u...
45             /video/36151719-petrosyanu-grozit-sud/
46  /business/36102731-rubl-rezko-otreagiroval-na-...
47   /articles/36193368-donbass-reshil-udarit-pervym/
48  /science/36178249-rasshifrovano-predskazanie-n...
49  /world/36206871-na-ukraine-nachalsya-shturm-uc...
50  /science/36233829-sozdano-lekarstvo-ot-vseh-vi...
51  /politics/36093799-sbezhavshuyu-iz-rossii-maks...
52  /cis/36144647-v-tsentr-kieva-styagivayut-voenn...
53  /starlife/36140271-skandalnoe-foto-britni-spir...
54  /finances/36043911-rublyu-predrekli-dvoynoy-udar/
55  /starlife/36135554-doch-valerii-snyalas-v-otkr...
56  /starlife/36005664-dzhennifer-lopes-vzorvala-i...
57    /starlife/36240935-dzhigurde-postavili-diagnoz/
58  /politics/36233197-times-britaniya-peregnula-p...
59       /articles/36213214-vozmozhna-bolshaya-voyna/
60  /articles/36142564-ukrainu-ureguliruyut-po-tih...
61  /starlife/36044627-u-malyshevoy-sdali-nervy-na...
62  /starlife/36053306-dzhigarhanyan-dal-shokiruyu...
63  /business/36184872-udar-po-schetchiku-rossiyan...
64  /world/36195262-deputat-savchenko-predlozhila-...
65  /starlife/36014715-evelina-bledans-vyshla-v-sv...
66  /europe/36046038-v-parizhskom-metro-progremel-...
67  /middleeast/36024757-v-sekretnoy-tyurme-v-siri...
68  /video/36202662-nakazanie-dlya-lukashenko-ross...
69  /articles/36170146-rossiya-reshila-postavlyat-...
70  /business/36016781-sberbank-cib-nazval-sroki-d...
71  /politics/36229424-rossiya-vyrazila-protest-bo...
72  /kinomusic/36016432-igorya-krutogo-prooperirov...
73  /starlife/36008814-minus-odin-nyusha-otkazalas...
74  /lifestyle/36185060-uchenye-rasskazali-kak-v-b...
75  /articles/36082911-pribaltika-i-ukraina-v-pani...
76  /politics/36203629-v-gosdume-obyasnili-perenos...
77  /economics/36097033-a-zhit-za-schet-rossii-vy-...
78  /incidents/36003455-natalya-melamed-pered-gibe...
79  /starlife/36131560-maksakova-shokirovala-otkro...
80  /sport/36235520-v-britanii-razgorelsya-krupney...
81  /articles/36093326-shturmovat-donetsk-i-lugans...
82  /video/36214784-panayotov-sdelal-shokiruyusche...
83  /world/36215106-lider-ig-obratilsya-k-boevikam...
84  /articles/36066499-iz-za-zvaniy-anny-netrebko-...
85  /starlife/36096316-u-lyudmily-maksakovoy-sdali...
86  /economics/36097033-a-zhit-za-schet-rossii-vy-...
87  /starlife/36096182-vdova-valeriya-zolotuhina-v...
88  /cis/35984145-kreml-prokommentiroval-soobschen...
89  /video/36071019-olimpiyskie-obekty-rio-prevrat...
90  /science/36151301-nazvano-posledstvie-zloupotr...
91  /incidents/36027330-vospitatelnitsu-zatravili-...
92  /world/36103095-dominikanskih-zhurnalistov-ubi...

***Задание 3***

В датафрейме data создайте столбец lemmas, в котором вычислите леммы поисковых запросов из столбца keyword. Леммы должны иметь строковый тип.

In [10]:
data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})
data.head()

                 keyword   shows
0    курс гривны к рублю  125076
1        доллары в рубли  114173
2  100 долларов в рублях   97534
3             курс рубля   53546

In [11]:
from pymystem3 import Mystem

In [12]:
def get_lemmas(series):
    m = Mystem()
    lemmas = m.lemmatize(series)
    output = ' '.join(lemmas)
    return output

In [13]:
data['lemmas'] = data.keyword.apply(get_lemmas)

In [14]:
data.head()

                 keyword   shows                        lemmas
0    курс гривны к рублю  125076  курс   гривна   к   рубль \n
1        доллары в рубли  114173         доллар   в   рубль \n
2  100 долларов в рублях   97534   100   доллар   в   рубль \n
3             курс рубля   53546               курс   рубль \n